<!DOCTYPE HTML>

<html ng-app="AddProductos">

<head>

    <title>Agregar Producto</title>



    <!-- comentario: etiquetas META descriptiva para nuestro sitio web-->

    <meta charset='utf-8'><!-- Codificacion de documento para uso de caracteres-->

    <meta name='description' content='Laboratorio #1 HTML5-CSS3'>

    <meta name='keywords' content='HTML5,CSS3,JavaScript'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="../Scripts/angular.js"></script>

    <script src="../Scripts/angular-route.js"></script>

    <link rel="shortcut icon" href="html5.png" />

    <script src="../Scripts - Web/Scripts - Caja/AddProductos.js"></script>

    <link rel='stylesheet' href='../css/styles.css'>

</head>



<body>

    <div id='page' ng-controller="AddProductosController">

        <header>

            <div id='logo'><img src="../rsc/imgs/bot.png" alt="picture" width="190" /></div>

        </header>



        <section id='main'>

            <br></br>

            <section>
                <div>
                    <center><h2>INFORMACION GENERAL</h2></center>
                    <div class="col-sm-0" style="background-color:aliceblue;">
                        <br><br>
                        <center><h3>Sucursal: {{infocajero.Sucursal}}</h3></center>
                        <center><h3>Cajero: {{infocajero.Nombre}} {{infocajero.Apellido1}} {{infocajero.Apellido2}}</h3></center>
                        <br><br>
                    </div>
                </div>
                <div>
                    <center><h2>AGREGAR PRODUCTO</h2></center>
                    <div class="col-sm-0" style="background-color:aliceblue;">
                        <br><br>
                        <center>
                            <div class="form-group">
                                <h3>Codigo de Producto</h3>
                                <input type="number" class="form-control" id="cedula" ng-model="idproducto">
                            </div>
                            <div class="form-group">
                                <h3>Cantidad</h3>
                                <input type="number" class="form-control" id="cedula" ng-model="cantidad">
                            </div>
                            <button type="button" class="btn btn-default" ng-click="AgregarProducto(idproducto,cantidad)">Agregar producto</button>
                        </center>
                        <br><br>
                    </div>
                </div>
                <div>
                    <center><h2>PRODUCTOS</h2></center>
                    <div class="row" >
                        <div class="col-sm-0" style="background-color:aliceblue;" ng-repeat="x in productos"><!-- comentario: esto es un ng repeat-->
                            <br><br>
                            <center>
                                <h4 class="list-group-item-text">Producto:{{x.Nombre}} </h4>
                                <h4 class="list-group-item-text">Cantidad: {{x.Cantidad}}</h4>
                                <h4 class="list-group-item-text">Precio: {{x.Cantidad * x.Precio}}</h4>
                                <button type="button" class="btn btn-danger btn-circle" ng-click="BorrarProducto(x.IdProducto)">Eliminar</i></button>
                            </center>
                            <br><br>
                        </div>
                    </div>
                </div>
                <div>
                    <center>
                        <h2>FORMA DE PAGO</h2>
                        <div class="col-sm-0" style="background-color:aliceblue;">
                            <br /><br />
                            <div class="radio">
                                <label><input type="radio" name="optradio">Effectivo</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Tarjeta</label>
                            </div>
                            <br /><br />
                        </div>
                    </center>
                </div>
                <div>
                    <center><h2>TOTAL</h2></center>
                    <div class="row">
                        <div class="col-sm-0" style="background-color:aliceblue;">
                            <!-- comentario: esto es un ng repeat-->
                            <br><br>
                            <center>
                                <button type="button" ng-click="Total()" class="btn btn-default">Calcular Total</button>
                                <h3>{{total}}</h3>
                            </center>
                            <br><br>
                        </div>
                    </div>
                </div>
                <div>
                    <br /><br />
                    <br /><br />
                    <center><button type="button" class="btn btn-default" ng-click="TerminarFactura()">Terminar Factura</button></center>
                    
                    <br /><br />
                    <br /><br />
                </div>
            </section>

        </section>



    </div>



</body>

</html>