<!DOCTYPE HTML>

<html ng-app="ValidarSupervisor">

<head>

    <title>Eliminar Produto</title>



    <!-- comentario: etiquetas META descriptiva para nuestro sitio web-->

    <meta charset='utf-8'><!-- Codificacion de documento para uso de caracteres-->

    <meta name='description' content='Laboratorio #1 HTML5-CSS3'>

    <meta name='keywords' content='HTML5,CSS3,JavaScript'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="../Scripts/angular.js"></script>

    <script src="../Scripts - Web/Scripts - Caja/ValidarSupervisor.js"></script>

    <script src="../Scripts/angular-route.js"></script>

    <link rel="shortcut icon" href="html5.png" />

    <script src="../Scripts - Web/Scripts - Caja/AddFactura.js"></script>

    <link rel='stylesheet' href='../css/styles.css'>

</head>



<body ng-controller="ValidarSupervisorController">

    <div id='page'>

        <header>

            <div id='logo'><img src="../rsc/imgs/bot.png" alt="picture" width="190" /></div>

        </header>



        <section id='main'>

            <br></br>

            <section>
                <div >
                    <center><h2>INFORMACION GENERAL</h2></center>
                    <div class="col-sm-0" style="background-color:aliceblue;">
                        <br><br>
                        <center><h3>Sucursal: {{infocajero.Sucursal}}</h3></center>
                        <center><h3>Cajero: {{infocajero.Nombre}} {{infocajero.Apellido1}} {{infocajero.Apellido2}}</h3></center>
                        <br><br>
                    </div>
                </div>
                <div>
                    <center><h2>AUTORIZACION</h2></center>
                    <div class="col-sm-0" style="background-color:aliceblue;">
                        <br><br>
                        <center>
                            <div class="form-group">
                                <h3>Identificacion Supervisor</h3>
                                <input type="number" class="form-control" id="cedula" ng-model="idsupervisor">
                            </div>
                            <div class="form-group">
                                <h3>Contrasena</h3>
                                <input type="password" class="form-control" id="password" ng-model="password">
                            </div>
                        </center>
                        <br><br>
                    </div>
                </div>
                <div>
                    <br /><br />
                    <br /><br />
                    <center><button type="button" class="btn btn-default" ng-click="eliminarprod()">Eliminar Producto</button></center>
                    <br /><br />
                    <br /><br />
                </div>
            </section>

        </section>



    </div>



</body>

</html>